@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
.logo img{
    width:70px;
    margin-left: 50px;
    margin-bottom:10px ;
    
}
.header{
    background-color: white;
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;
   
    
}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.masuk{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;
}
.daftar{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 1px;
}
.container{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}
#form{
    background-color: white;
    box-shadow: 1px 1px 2px;
}

.kotakutama{
    background-color: white;
    text-align: left;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    box-shadow: 1px 1px 5px grey ;
    height: 500px;
    
}

.form{
    background-color: white;
    margin-right: 40%;
    padding: 20px;

}

.form hr{
    width: 88%;
    margin-left: -6px;
}

.kotakbiru{
    background-color: #90cdf0;
    margin-left: 60%;
    margin-top: -50.5%;
    margin-right: 10%;
    padding: 20px;
    height:460px;
    width: 365px;
}

.input{
    box-shadow:1px 1px 3px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 35%;

}
.input2{
    box-shadow: 1px 1px 3px;
    border: none;
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
 
}
.area{
    width: 86%;
    height: 110px;
    border:none;
    box-shadow: 1px 1px 3px;
}

.masuk1{
    background-color: #90cdf0;
    border:none;
    box-shadow: 1px 1px 3px;
    padding: 10px;
    font-size: medium;
    width: 20%;
    border-radius: 20px;
    margin-left: 70%;
}