body{
    margin: 0;
}
#navbar{
    width: auto;
    height: 70px;
    background-color: white;
    box-shadow: 0px 2px 5px;
}
h1{
    font-family: sans-serif; 
    color: gray;

}
ul,li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    position: relative;
    left: 25%;
}
img{
    position: relative;
    top: 20px;
    left: 50px;
}

form {
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 50px;
}
.input{
    box-shadow: 2px 5px 7px;
    padding: 10px;
    border-radius: 15px;
    border:None;
    width: 200%;
}
#submit{
    box-shadow: 2px 5px 7px;
    padding: 10px;
    border:None;
    width: 210%;
    background-color:#90cdf0;
    font-family: Arial black;
    font-size: medium;
    
}