body{
    margin: auto;
    background-color:rgb(214, 214, 214) ;
}
.logo img{
    width:70px;
    margin-left: 50px;
    margin-bottom:10px ;
    
}
.header{
    background-color: white;
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;
   
}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.masuk{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;
}
.daftar{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 1px;
}
.container{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}
.atas{
    background-color: white;
    width: 30%;
    height: 600px;
    display: inline-block;

}
.foto img{
    width: 200px;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 80%;
    display: inline;
}
.nama {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.profil input{
    background-color: #90cdf0;
    border: none;
    margin-left: 20%;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 2px 7px gray;
    border-radius: 15px;
}
.profil1 input{
    background-color: #90cdf0;
    border: none;
    margin-left: 20%;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 2px 7px gray;
    border-radius: 15px;
}
.email{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 20px;
}
.email1{
    padding: 20px;
    background-color: rgb(238, 235, 235);
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    font-size: 20px;
}
.identitas{
    background-color:white;
    font-size: 20px;
    width: 62%;
    padding: 50px;
    float: right;
}
.text{
    background-color: rgb(238, 235, 235);
    border-radius: 15px;
    padding: 20px;
}
.edit input{
    background-color: #90cdf0;
    border: none;
    margin-left: 20%;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 2px 7px gray;
    border-radius: 15px;
}