@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 100%;
   
}


.search{
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 50px;
    line-height: 35px;
     width: 300px; 
     border-radius: 30px; 
     font-size: 12px;
     font-variant-position: initial;
     margin-left: 140px;
     outline: none;
     } 

.button{ 
    background-color: #3ea9e6; 
    margin: 20px 0px 0px 20px; 
    text-align: center; 
    border-radius: 25px; 
    border: 2px solid #336666 ; 
    padding: 11px 30px; 
    outline: none; 
    color: #ffffff; 
    cursor: pointer; 
    margin-left: 24%;
}
.person1{
    
    height: 340px;
    width: 300px;
    border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 97px;
  

}

img{
    border-radius: 25px;
    margin-left:21px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.person1 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person1 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: gray;
    font-style: italic;
}
.person1 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
   
}
.halaman {
    width: 1200px;
  
    margin: auto;
  
    margin-top: 20px;
}

.logo img{
    width:70px;
    margin-left: 50px;
    
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;

}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
    display: flex;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.masuk{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;
}
.daftar{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 1px;
}
.header{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

.person2{
    margin-top: -343px;
    height: 340px;
    width: 300px;
   border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 447px;
}


.person2 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person2 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: gray;
    font-style: italic;
}
.person2 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
}
.person3{
    margin-top: -343px;
    height: 340px;
    width: 300px;
   border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 797px;
}


.person3 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person3 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: gray;
    font-style: italic;
}
.person3 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
}

.person4{
    
    height: 340px;
    width: 300px;
   border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 97px;
    margin-top: 60px;
}

.person4 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person4 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: gray;
    font-style: italic;
}
.person4 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
}
.person5{
    margin-top: -343px;
    height: 340px;
    width: 300px;
   border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 447px;
}


.person5 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person5 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: gray;
    font-style: italic;
}
.person5 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
}
.person6{
    margin-top: -343px;
    height: 340px;
    width: 300px;
    border:1px solid #3ea9e6;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 797px;
    
}
.person6 h2{
    position:absolute;
    text-align: center;
    margin-left:40px;
    margin-right: 10px;
    color: #ffffff;
    margin-top: 150px;
    
}
.person6 p{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color: black;
    font-style: italic;
  
}
.person6 h3{
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    border:2px solid #f9b8e1;
    border-radius: 30px;
    cursor: pointer; 
    height: 25px;
    margin-top: -20px;
    color:black;
}

@media screen and (max-width: 720px) {
    body{
       
        font-size: 12px;
       
    }
    .logo img{
        width:7%;
        
    }
    
    header li{
        margin-top: 40px;
        display: flex;
        padding :0 10px 10px 10px;
        font-size: 9px;
        justify-content: center;
    
    }
    header a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 20px;
        display : flex;
        justify-content: center;
        margin-right: auto;
    }
    
    
    .masuk{
       
        border:none;
        margin-left: 100px;
        margin-right: 1px;
        height: 20px;
        margin-top: 20px;
        
    }
    .daftar{
        border:none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 1px;
        height: 20px;
        
    }
    
    .search{
       
        left :5%; 
         } 
    
    .button{ 
      
        margin-left: 5%;
    }   
   
    
}
@media screen and (min-width: 720px) and (max-width :992px){
    body{
        
        font-size: 12px;
       
    }
    .logo img{
        width:7%;
        
    }
    
    header li{
        margin-top: 40px;
        display: flex;
        padding :0 10px 10px 10px;
        font-size: 9px;
        justify-content: center;
    
    }
    header a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 20px;
        display : flex;
        justify-content: center;
        margin-right: auto;
    }
    
    
    .masuk{
       
        border:none;
        margin-left: 100px;
        margin-right: 1px;
        height: 20px;
        margin-top: 20px;
        
    }
    .daftar{
        border:none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 1px;
        height: 20px;
        
    }
    
    .search{
       
        left :5%; 
         } 
    
    .button{ 
      
        margin-left: 5%;
    }   
    
    
}