@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
.logo img{
    width:70px;
    margin-left: 50px;
    
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;

}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.masuk{
    
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;
}
.daftar{

    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 1px;
}
.header{
  
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}
.halaman {
    width: 1200px;
    display: grid;
    margin: auto;
    border-radius: 30px;
   
    margin-top: 20px;
}
.halaman h1{
    text-align: center;
}
.halaman h4{
   margin-left: 90px;
    color: grey;
    font-weight: normal;
    margin-bottom: 40px;
    font-size: x-large;
   
}
img{
    border-radius: 200px;
    margin-left:45px;
    width: auto;
}
.materi1{
    
    height: 150px;
    width: 250px;
    background-color:  #ffffff;
    border-radius: 10px;
    margin-top: 10px;
}
.materi1 h2{
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
    background-color: #3ea9e6;
    border-radius: 25px;
}
.belakang{
    display: grid;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 97px;
    border:1px solid #90cdf0;
    border-radius: 25px;
    
}
.materi1{
    border-radius: 25px;
    margin-left:20px;
    margin-right: 10px;
    margin-top: 10px;
}
.belakang1{
    display: grid;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 447px;
    margin-top: -343px;
    border:1px solid #90cdf0;
    border-radius: 25px;
}
.belakang2{
    display: grid;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 797px;
    margin-top: -343px;
    border:1px solid #90cdf0;
    border-radius: 25px;
}
.belakang3{
    display: grid;
    margin-top: 70px;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 97px;
    border:1px solid #90cdf0;
    border-radius: 25px;
}
.belakang4{
    display: grid;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 447px;
    margin-top: -343px;
    border:1px solid #90cdf0;
    border-radius: 25px;
}
.belakang5{
    display: grid;
    height: 340px;
    width: 300px;
    cursor: pointer; 
    margin-left: 797px;
    margin-top: -343px;
    border:1px solid #90cdf0;
    border-radius: 25px;
}
.bawah{
    display: grid;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    height: 50px;
    background-color: rgba(144,205,240);
}
.bawah li{
    font-size: xx-large;
    font-weight: bold;
   
}
#outtable{
    display: grid;
    
    position: relative;
    padding: 20px;
    
}

.no{
    width: 50px;
}

.normal{
    width: 150px;
}
table{
    border-collapse: collapse;
    font-family: arial;
    color:black;
    background-color:#ffffff ;
    
}

thead th{
    text-align: left;
    padding: 10px;
}

tbody td{
    border-top: 1px solid #e3e3e3;
    padding: 10px;
}
thead tr{
    background: #90cdf0;
}

tbody tr:hover{
    background: #ffffff;
}
.materi{
    border:1px solid grey;
    width: 400px;
    height: 100px;
}
h3{
    width: 200px;
    height: 40px;
    background-color: #e3e3e3;
    border: 1px solid gray;
    text-align: center;
}
.angka{
    margin-top: -42px;
    margin-left: 280px;
    width: 50px;
    background-color:cornsilk;
}   
@media screen and (max-width: 720px) {
    body{
       
        font-size: 12px;
       
    }
    .logo img{
        width:7%;
        
    }
    
    header li{
        margin-top: 40px;
        display: flex;
        padding :0 10px 10px 10px;
        font-size: 9px;
        justify-content: center;
    
    }
    header a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 20px;
        display : flex;
        justify-content: center;
        margin-right: auto;
    }
    
    
    .masuk{
       
        border:none;
        margin-left: 100px;
        margin-right: 1px;
        height: 20px;
        margin-top: 20px;
        
    }
    .daftar{
        border:none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 1px;
        height: 20px;
        
    }
}

@media screen and (min-width: 720px) and (max-width :992px){
    body{
        
        font-size: 12px;
       
    }
    .logo img{
        width:7%;
        
    }
    
    header li{
        margin-top: 40px;
        display: flex;
        padding :0 10px 10px 10px;
        font-size: 9px;
        justify-content: center;
    
    }
    header a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 20px;
        display : flex;
        justify-content: center;
        margin-right: auto;
    }
    
    
    .masuk{
       
        border:none;
        margin-left: 100px;
        margin-right: 1px;
        height: 20px;
        margin-top: 20px;
        
    }
    .daftar{
        border:none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 1px;
        height: 20px;
        
    }
}