@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
.logo img{
    width:70px;
    margin-left: 50px;
    margin-bottom:10px ;
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;
   
}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.judul {
     width: 800px; 
     margin: auto; 
     padding: 30px 0px 30px 0px; 
     margin-left: 770px; 
     border-radius: 15px 15px 0px 0px;
     } 
    

form { 
    padding: 10px; 
    margin-left: 500px;
    margin-top: -650px;
} 

.name{
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 15px; 
     font-size: 12px;
    outline: none;
    padding: 10px;
    border: none;
    height: 20px;
     } 
.tarif{
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 15px; 
     font-size: 12px;
    outline: none;
    padding: 10px;
    border: none;
    height: 20px;
     } 
.ttl{
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 15px; 
     font-size: 12px;
    outline: none;
    padding: 10px;
    border: none;
    height: 20px;
 } 
.alamat{ 
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 15px; 
     font-size: 12px;
    outline: none;
    padding: 10px;
    border: none;
    height: 20px;
     } 
     
.pendidikan{ 
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 15px; 
     font-size: 12px;
    outline: none;
    padding: 10px;
    border: none;
    height: 20px; } 
.nilai{ 
    box-shadow: 2px 5px 7px;
    border: none;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 30px; 
     font-size: 12px ;
     outline: none;
     padding: 10px;
     height: 20px;
} 
.ijazah{ 
    box-shadow: 2px 5px 7px;
    border: none;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 30px; 
     font-size: 12px ;
     outline: none;
     padding: 10px;
     height: 20px;
 } 
.ktp{ 
    box-shadow: 2px 5px 7px;
    border: none;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 30px; 
     font-size: 12px ;
     outline: none;
     padding: 10px;
     height: 20px;
} 
.fto{ 
    box-shadow: 2px 5px 7px;
    border: none;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 30px; 
     font-size: 12px ;
     outline: none;
     padding: 10px;
     height: 20px;
} 
.jl{ 
    margin-left: 15px; 
    margin-top: 15px;
    outline: none; } 
    
.plh{ 
    margin-left: 260px;
     margin-top: 15px; 
     outline: none;
} 
.kirim{ 
    background-color: #3ea9e6; 
    margin-left: 500px;
    text-align: center; 
    border-radius: 25px; 
    border: 2px solid black ; 
    padding: 14px 110px; 
    color: #ffffff; 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
    outline: none;
}
#box1{
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 240px; 
     border-radius: 30px; 
     font-size: 12px;
     border: none;
     outline: none;

}
#box2{
    box-shadow: 2px 5px 7px;
    position: relative; 
    left :260px; 
    margin-bottom: 15px;
    line-height: 35px;
     width: 240px; 
     border-radius: 30px; 
     font-size: 12px;
    border: none;
     margin-left: 250px;
     margin-top: -73px;
     outline: none;

}

.masuk{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;

}

.header{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    

}
p{
    margin-left: 530px;
    margin-top: -50px;
   font-style: italic;
   color : gray;
}
.image{
    
    margin-top: 8%;
    left: 50px;
    width: 57%;
}

