@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
.logo img{
    width:70px;
    margin-left: 50px;
    margin-bottom:10px ;
}
header nav {
    float :right;
    margin-right: 65px;
    margin-top: -50px;
   
}
header li{
    float : left;
    display : inline;
    padding :0 10px 20px 40px;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display : inline;
}
ul {
    margin : 0px;
    padding: 0px;
}
header a:hover{
    color:#90cdf0;
    font-weight: bold;
}
.judul {
     width: 800px; 
     margin: auto; 
     padding: 30px 0px 30px 0px; 
     text-align: center; 
     border-radius: 15px 15px 0px 0px;
     } 
    
.biodata { 
    
        width: 1000px;
        background-color: rgb(144,205,240,0.2);
        margin: auto;
        border-radius: 30px;
        box-shadow: 3px 2px 1px ghostwhite;
    
} 
form { 
    padding: 10px; 
} 

.name{
    background-color: transparent;
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 6px; 
     font-size: 12px;
     font-variant-position: initial;
     } 
.ttl{
    background-color: transparent;
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 6px; 
     font-size: 12px;
 } 
.alamat{ 
    background-color: transparent;
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 6px; 
     font-size: 12px;
} 
.tarif{ 
    background-color:transparent;
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 6px; 
     font-size: 12px;
     margin-top: 30px;
     } 
     
.pendidikan{ 
    background-color: transparent;
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 500px; 
     border-radius: 6px; 
     font-size: 12px; } 
.nilai{ 
    box-shadow: 3px 2px 1px grey;
    border: solid 2px;
    border-color: lightslategray;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 6px; 
     font-size: 12px;
     margin-top: -30px;
} 
.ijazah{ 
    box-shadow: 3px 2px 1px grey;
    border: solid 2px;
    border-color: lightslategray;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 6px; 
     font-size: 12px 
 } 
.ktp{ 
    box-shadow: 3px 2px 1px grey;
    border: solid 2px;
    border-color: lightslategray;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 6px; 
     font-size: 12px 
} 
.fto{ 
    box-shadow: 3px 2px 1px grey;
    border: solid 2px;
    border-color: lightslategray;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 250px; 
     border-radius: 6px; 
     font-size: 12px 
} 
.jl{ 
    margin-left: 15px; 
    margin-top: 15px; } 
    
.plh{ 
    margin-left: 260px;
     margin-top: 15px; 
} 
.kirim{ 
    background-color: #fedd9c; 
    margin-left: 500px;
    text-align: center; 
    border-radius: 25px; 
    border: 2px solid black ; 
    padding: 14px 110px; 
    color: #ffffff; 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
}
#box1{
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 30px;
    line-height: 35px;
     width: 240px; 
     border-radius: 6px; 
     font-size: 12px;
     border: solid 1px;
     border-color: lightslategray;

}
#box2{
    box-shadow: 3px 2px 1px grey;
    position: relative; 
    left :260px; 
    margin-bottom: 15px;
    line-height: 35px;
     width: 240px; 
     border-radius: 6px; 
     font-size: 12px;
     border: solid 1px;
     border-color: lightslategray;
     margin-left: 250px;
     margin-top: -73px;

}

.masuk{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 1px;
}
.daftar{
    border:2px solid #90cdf0;
    padding: 15px;
    margin-top: -20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 1px;
}
.container{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;

}
p{
    margin-left: 530px;
    margin-top: -50px;
   font-style: italic;
   color : gray;
}

